<div class="row">
    <div class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <h4>DISCLAIMER :</h4>
                    <ul>
                        <li><a href="https://devfest.gdglille.org" target="_blank">DevFest Lille</a> {{'disclaimer.line1' | translate}}</li>
                        <li>{{'disclaimer.line2' | translate}}</li>
                        <li>{{'disclaimer.line3' | translate}}</li>
                        <li>{{'disclaimer.line4' | translate}}</li>
                        <li>{{'disclaimer.line5' | translate}}</li>
                        <li>{{'disclaimer.line6' | translate}}</li>
                        <li>{{'disclaimer.line7' | translate}}</li>
                        <li><a href="{{'disclaimer.urlCodeConduct' | translate}}" target="_blank">{{'disclaimer.codeConduct' | translate}}</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-md-offset-1">
                  <h4>{{'disclaimer.type' | translate}}</h4>
                  <ul>
                    <li>{{'step2.types.conference' | translate}} (50min)</li>
                    <li>{{'step2.types.codelab' | translate}} (2h)</li>
                  </ul>
                </div>
            </div>
        </div>
    </div>
</div>
